@model Ticketing.Entity.TicketModel.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<!-- Begin Search AREA-->
@using (Html.BeginForm())
{
    <!-- BEGIN HIDDEN AREA-->
    @Html.HiddenFor(m => m.EventCommand)
    <!-- END HIDDEN AREA-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title"> Search for Products</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.SearchEntity.name, "Product Name")
                @Html.TextBoxFor(m => m.SearchEntity.name, new { @class = "from-control" })

            </div>
        </div>
        <div class="panel-footer">
            <button id="btnSearch" class="btn btn-sm btn-primary" data-ticket-action="search">
                <i class="glyphicon glyphicon-search"></i>
                &nbsp; Search
            </button>
            <button id="btnReset" class="btn btn-sm btn-primary" data-ticket-action="resetSearch">

                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp; Search
            </button>
        </div>
    </div>
    <!-- End Search AREA-->

    <!-- BEGIN LIST AREA -->
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td>Product Name</td>
                    <td> Price</td>
                    <td> Date</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.name</td>
                        <td>@item.price</td>
                        <td>@item.proDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END LIST AREA -->

}


@section scripts
{
 <script>
     $(document).ready(function () {
         $("[data-ticket-action]").on("click", function (e) {
             e.preventDefault();

             $("#EventCommand").val($(this).data("ticket-action"));

             $("form").submit();
         });
     })
    </script>
}