@model Ticketing.Data.TicketModel.ViewModels.RoleVM

<div id="roleDiv" class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">@Resource.AdminAddRoles</div>
        <div class="panel-body">
            <div id="RolesList">

                <table class="table   table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="RoleTbodyDiv">
                        @* To reduce load and make it AS SPA this partial for <tbody> is used *@
                        @Html.Partial("_RolePartialTBodyDiv")
                    </tbody>
                </table>
                <div class="panel-footer">

                    @* START of AJAX Begin Form for submitting a new Role in Text box *@
                    @using (Ajax.BeginForm("PostRoles", "Admin", null,
new AjaxOptions
{

HttpMethod = "POST",
InsertionMode = InsertionMode.Replace,
UpdateTargetId = "RoleTbodyDiv",
OnSuccess = "RoleOnSuccess"

}, new { id = "RoleForm" }
))
        {

            <table>
                <tr>
                    <td>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger", @id="RoleValidationSummary"})
                        <div class="form-group">
                            @Html.TextBox("Name", "", new { @class = "form-control", @id = "txtRole" })
                        </div>
                    </td>
                    <td>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="btnSubmitRole" class="btn btn-default" value="Add Role" />
                        </div>
                    </td>
                </tr>
            </table>

}
                    <!-- END of AJAX Begin Form-->
                </div>
            </div>
        </div> <!--Panel Body Ends here-->
    </div>
</div>