@model Ticketing.Data.TicketModel.ViewModels.DomainRolesVM


<!--
This modal let's the user select default role/roles for selected Domain
-->
<!--Modals Start Here-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Select/unselect default roles for<b>@Model.AlloweDomain.DomainName</b></h4>
</div>
 <input type="text" id="HiddenDomainName" value="@Model.AlloweDomain.DomainName" hidden />
    <div class="modal-body">
        <div class="row">
            
            @Html.AntiForgeryToken()

            @foreach (var item in Model.AllRoles)
            {
                var Boolean = @Model.AlloweDomain.Roles.Contains(@item);
                
            <div class="col-md-4">
                <div class="row">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" checked="@Model.AlloweDomain.Roles.Contains(@item)" id="@item.Name" value="@item.Name" class="custom-control-input" style="visibility:hidden">
                        @item.Name
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                @*<input type="checkbox" id="@item.Name" class="checkbox col-md-1" value="@item.Name" /> <label for="Admin" class="col-sm-4">@item.Name</label>*@
            </div>

            }

            <div style="height:50px"></div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="SubmitDomainRole()" id="btnSaveDomainRole">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>


@functions {
    public static Boolean getCountry()
    {
        return true;
    }
}


<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>