

@model Ticketing.Data.TicketModel.ViewModels.AllowedDomainRolesVM

<div id="AllowedDomainDiv" class="col-md-10">
    <div class="panel panel-default">
        <!--Panel Content-->
        <div class="panel-heading">Allowed domains and default Roles</div>
        <!--Panel body starts here-->
        <div id="AllowedDomainListDIV">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                            Allowed Domains
                        </th>
                        <th>
                            Default Roles
                        </th>
                    </tr>
                </thead>
                <tbody id="AllowedDomainList">
                    @foreach (var item in Model.AllowedDomains)
                    {
                        <tr>
                            <td>
                                <div id="domain">
                                    @Html.DisplayFor(Model => item.DomainName)
                                </div>
                            </td>
                            <td>
                                <div id="domainDefaultRoles" class="col-md-6">
                                    @Html.DropDownList(@item.DomainName, Model.AllRoles.Select(r => new SelectListItem { Text = r, Value = r, Selected = item.Roles.Any(ur => ur.Name == r) }),
                                      htmlAttributes: new { @class = "chosen-select chosen ChosenDomainRoles", multiple = "multiple", id = "ChosenDomainRoles" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



            @* START of AJAX Begin Form for submitting a new Role in Text box *@
            @using (Ajax.BeginForm("PostAllowedDomain", "Admin", null,
new AjaxOptions
{

    HttpMethod = "POST",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "AllowedDomainList",
    OnSuccess = "AllowedDomainOnSuccess"
}
))
            {<div class="panel-footer">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "AllowedDomainValidationSummary" })
                    <div class="row">
                        <div class="col-md-7">


                            @Html.TextBoxFor(x => x.newDomainName, "", new { @class = "form-control", @id = "txtDomainName" })

                        </div>
                        <div class="col-md-5 col-md-pull-3">
                            <input type="submit" id="btnSubmitDomain" class="btn btn-default" value="Add Domain Name" />
                        </div>
                    </div>
                </div><!--Panel Footer Ends here-->
            }



        </div><!--Panel body Ends here-->
    </div>
</div>


