@model Ticketing.TicketModel.Proposal

<ul class="nav navbar-nav navbar-left ticketingmenu">
    <li>
        @Html.ActionLink("Ticket", "Index", "Ticket", new { }, htmlAttributes: new { @class = "TicketActive" })

    </li>
    <li>

        @Ajax.ActionLink("Proposal",
                                  "Proposal",
                                  "Ticket",
                                  new { ProposalId = Model.RecId },
                                  new AjaxOptions
                                  {
                                      HttpMethod = "GET",
                                      InsertionMode = InsertionMode.Replace,
                                      UpdateTargetId = "TicketBody",

                             //Confirm="You are about to delete Role",
                             OnBegin = "MakeMenuActive('Proposal')",
                             OnComplete = "ApplySummerNote()"
                                  }, htmlAttributes: new { @class = "Proposal" })
    </li>
    <li>

        @Ajax.ActionLink("Weekly Reports",
                                "Reports",
                                "Ticket",
                                new { guid = "" },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "TicketBody",

                           //Confirm="You are about to delete Role",
                           OnBegin = "MakeMenuActive('Reports')",
                                }, htmlAttributes: new { @class = "Reports" })
    </li>
    <li>

        @Ajax.ActionLink("Discussions",
                                "Discussions",
                                "Ticket",
                                new { guid = "" },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "TicketBody",

                           //Confirm="You are about to delete Role",
                           OnBegin = "MakeMenuActive('Discussions')",
                                }, htmlAttributes: new { @class = "Discussions" })
    </li>
    <li>
        @Ajax.ActionLink("Log",
                                 "Log",
                                 "Ticket",
                                 new { guid = "" },
                                 new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     InsertionMode = InsertionMode.Replace,
                                     UpdateTargetId = "TicketBody",
                                     OnBegin = "MakeMenuActive('Log')",
                            //Confirm="You are about to delete Role",
                            OnComplete = ""
                                 }, htmlAttributes: new { @class = "Log" })
    </li>
    <li class="last">
        @Ajax.ActionLink("Documents",
                                 "Documents",
                                 "Ticket",
                                 new { guid = "" },
                                 new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     InsertionMode = InsertionMode.Replace,
                                     UpdateTargetId = "TicketBody",

                                     OnBegin = "MakeMenuActive('Documents')",
                            //Confirm="You are about to delete Role",

                        }, htmlAttributes: new { @class = "last Documents" })
    </li>
</ul>
