
@model Guid


@using (Ajax.BeginForm("PostADegreeProgram", "Admin", null,
new AjaxOptions
{

    HttpMethod = "POST",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "DegreePrograms",
    OnSuccess = "FadeOutUserInfo",

},
new { DepId = Model }
))
{
    @Html.AntiForgeryToken()
    <h4>Add new degree type</h4>
    <hr />

    <div class="form-inline row">
        @Html.Hidden("DepId", Model)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-lg-4">
            @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", placeholder = "Bachelor, Master, PHD" } })
            @Html.ValidationMessage("Can't be Empty", "", new { @class = "text-danger" })
            
        </div>
        <div class="form-group col-lg-4">
            @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })

        </div>
        <div class="form-group col-md-4">
            <div>
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>

    


}
